h1 ,body, p:last-child {
    margin: 0;
    padding: 0;
}
body {
    background-color: #412323; 
    color: #c0db22;            
    font-family: 'Segoe UI', system-ui, sans-serif;
    line-height: 1.6;
}
body {
    background-image: url('warhammer-40k-space-marine-chaos-imperial-guard-cadian-blood.jpg'); 
  background-repeat: no-repeat;
    background-attachment: unset;
    
    min-height: 100vh;


    background-position: center 10%; 
    
    filter: contrast(1.05) brightness(1.0); 

    
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: crisp-edges;
}
.neon-text {
    color: #fff;
    font-family: sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    
    text-shadow: 0 0 5px #3ffe00, 
                 0 0 10px #2200fe, 
                 0 0 20px #c3fe00, 
                 0 0 40px #4facfe;
}

a {

    color: rgb(182, 14, 53);
}
a:visited{
color: rgb(107, 181, 27);

}

a:hover, a:active {
color:#5a968a;
}
#content{

background-color: #000000AA;
}